@{
    var head = "App Razor";

    var titulo = "Resultado da prova";
    string[] alunos = { "João", "Maria", "Ana", "Jorge", "Pedro", "Ines" };
    int[] notas = { 4, 7, 7, 9, 2, 9 };
    var resultado = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@head</title>
    <link href="Style.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <h1>@titulo</h1>   
     
        
        <ul>
            @for (int i = 0; i < alunos.Length; i++)
            {
                if (notas[i] >= 5)
                { resultado = "aprovado"; }
                else
                { resultado = "reprovado"; }
                <li class="@resultado">
                    @("Aluno: " + alunos[i] + ", nota:" + notas[i] + " resultado: " + resultado)
                </li>
            }
        </ul>
    </div>
</body>
</html>
