@{
    var head = "App Razor";

    var titulo = "Resultado da prova";
    string[] alunos = { "João", "Maria", "Ana", "Jorge", "Pedro", "Ines" };
    int[] notas = { 4, 7, 7, 9, 2, 9 };
    var resultado = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@head</title>
</head>
<body>
    <div>
        <h1>@titulo</h1>   
     
        
        <ul>
            @for (int i = 0; i < alunos.Length; i++)
            {
                <li>
                    @("Aluno: " + alunos[i] + ", nota:" + notas[i])
                </li>
            }
        </ul>
    </div>
</body>
</html>
